<h1>Contacts Manager</h1> <p-button label="Add Contact" icon="pi pi-check" (onClick)="addContact()"></p-button>
<ng-container *ngIf="contacts$ | async; let contacts">
  <div *ngFor="let contact of contacts">
    <p-card>
      <ng-template pTemplate="header">
          {{contact.name}}
      </ng-template>
      <div class="card-row" style="display: flex; flex-direction: row; width: 100%; align-items: center;">
        <span>phone:</span> <span>{{contact.phone}}</span>
      </div>
      <div class="card-row" style="display: flex; flex-direction: row; width: 100%; align-items: center;">
        <span>email:</span> <span>{{contact.email}}</span>
      </div>
      <ng-template pTemplate="footer">
        <p-button label="Edit" icon="pi pi-check" (onClick)="editContact(contact)"></p-button>
        <p-button label="Delete" icon="pi pi-times" (onClick)="deleteContact(contact!._id!)"styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
      </ng-template>
  </p-card>
  </div>
</ng-container>